<!DOCTYPE html>
<html lang="ch">
<head>
<meta charset="UTF-8">
<title>应收账款-账龄划分</title>

<!-- 图标 -->
<link rel="shortcut icon" href="img/touch.png" />

<!-- element-ui -->
<link rel="stylesheet" href="./css/element-ui/index.css">
<!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->

<!-- 引入css -->
<link rel="stylesheet" href="css/index.css"/>

</head>
<body>
<div id="app" :style="{'width':'100%'}">

	<el-tabs tab-position="left" style="height: 100%;">
		<el-tab-pane label="账龄划分">

			<div>
				<input type="file" accept=".xls, .xlsx" @change="readExcel" ref='glb_file' />
			</div>

			<div style="margin-top: 10px;">
				<span>容错系数：</span>
				<input type="number" v-model="errorRange"/>
<!--				<el-input-number v-model="errorRange" :precision="2" :step="0.01"></el-input-number>-->
			</div>

			<div style="margin-top: 10px;">
				<el-table
						:data="priorityArrData"
						height="750"
						border
						stripe
						size="mini"
						style="width: 70%"
						@cell-click="selectCell"
						:cell-style="cellStyle" >
					<el-table-column
							prop="name.data"
							label="客户名称">
					</el-table-column>
					<el-table-column
							prop="needTotal.data"
							label="应收账款">
					</el-table-column>
					<el-table-column
							prop="n0.data"
							label="1年以内">
					</el-table-column>
					<el-table-column
							prop="n1.data"
							label="1-2年"
							cell-style="select-item">
					</el-table-column>
					<el-table-column
							prop="n2.data"
							label="2-3年">
					</el-table-column>
					<el-table-column
							prop="n3.data"
							label="3-4年">
					</el-table-column>
					<el-table-column
							prop="n4.data"
							label="4-5年">
					</el-table-column>
					<el-table-column
							prop="n5.data"
							label="5年以上">
					</el-table-column>

					<el-table-column
							prop="received.data"
							label="对抵金额">
					</el-table-column>
					<el-table-column
							prop="count.data"
							label="计算值">
					</el-table-column>

					<el-table-column
							fixed="right"
							label="操作"
							width="130">
						<template slot-scope="scope">
							<el-button @click="handleDeduction(scope.row)" type="text" size="small">抵扣</el-button>
							<el-button @click="cleanClick(scope.row)" type="text" size="small">清除</el-button>
							<el-button @click="returnBack(scope.row)" type="text" size="small">还原</el-button>
						</template>
					</el-table-column>

				</el-table>
			</div>

			<div style="width: 70%;margin-top: 10px;">
				<el-button round size="mini" type="success" @click="submitResult" style="float: right;">确认提交</el-button>
			</div>

		</el-tab-pane>
		<el-tab-pane label="应收管理">应收管理</el-tab-pane>
		<el-tab-pane label="退税处理">退税处理</el-tab-pane>
	</el-tabs>



</div>

<script src="js/vue/vue.js" type="text/javascript" charset="utf-8"></script>
<script src="js/element-ui/index.js"></script>
<!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
<script src="js/jsxlsx/xlsx.full.min.js"></script>
<script src="js/filesaver/FileSaver.js"></script>
<script src="js/mathjs/math.js"></script>
<script src="js/utils/util.js"></script>
<script src="js/retention/index.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>
